<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="styles.css">
    <link href='//fonts.googleapis.com/css?family=Voltaire' rel='stylesheet'>

    <title>Liisi Taimre CV</title>
</head>
<body>

<div ng-view>
    <div ng-controller="CVCtrl as vm" ng-cloak>

        <div id="langbutton" ng-click="vm.toEst()">
           {{vm.language}}
        </div>
        <div id="head">
        <div ng-repeat="name in vm.labels">
            <div class= "{{ name.class }}">
                <div class="flip">
                    <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                        <div class="face front">
                            <p >{{ name.header }}</p>
                        </div>
                        <div class="face back">
                            <ul>
                            <div ng-repeat="items in name.list">
                            <li>{{ items }}</li>

                        </div>
                            </ul>
                            <p></p><a href="{{ name.link }}" target="_blank">{{ name.linkname}}</a></p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</body>



</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
<script src="cv.ctrl.js"></script>
</body>
</html>