body {

    font-family: 'Voltaire';
    background-color: ghostwhite;
}



li{
    text-align: left;
    list-style-position: inside;
}

a {
    color: white;
    font-size: 2vw;
}

#head {
    clear:both;
    height: 90%;
}
#langbutton {
    margin: 1%;
    float: right;;
}

#langbutton:hover {
    text-decoration: underline;
}


.smallbox {
    display: inline;
    float:left;
    width: 25%;
    height: 32%;
    padding: 1%;

}

.bigbox {
    display: inline;
    float:left;
    width: 44%;
    height: 32%;
    padding: 1%;
    background: #cc0000;


}

/* Flipping functionality inspired by https://desandro.github.io/3dtransforms/docs/card-flip.html */

.flip {
    -webkit-perspective: 800;
    width: 100%;
    height: 185px;
    position: relative;
    margin: auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;

}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-size: 3.5vw;
    text-align: center;
    /*line-height: 200px; */
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: cadetblue;
}

.flip .card .back{
    -webkit-transform: rotatex(-180deg);
    font-size: 2vw;
    background: #395E60;
    color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



